@import 'tailwindcss';

@theme {
  --color-gray: oklch(0.63 0 0);
  --color-black: oklch(0.18 0.0038 164.58);
  --color-dark: oklch(0.21 0.0036 164.68);
  --color-bg: oklch(0.18 0.0038 164.58);
  --color-primary: oklch(0.85 0.1464 81.38);
  --color-primary-400: oklch(0.85 0.1464 81.38);
  --color-primary-300: oklch(0.89 0.1027 87.13);
  --color-primary-200: oklch(0.92 0.072 88.95);
  --color-primary-100: oklch(0.96 0.0364 86.17);
  --color-secondary-text: oklch(0.8 0 0);
  --color-secondary-bg: oklch(0.25 0.0015 197.06);
}

@variant landscape (@media (orientation: landscape));
@variant portrait (@media (orientation: portrait));
